# Exercícios ainda não concluídos
/exercicios-java/exercicios/Exercicio_3/
/exercicios-java/exercicios/Exercicio_4/
/exercicios-java/exercicios/Exercicio_2/
/exercicios-java/exercicios/Exercicio_5/
/exercicios-java/exercicios/Exercicio_6/

# Imagens
/images/

# Projetos ainda não realizados
/projetos/